

.searchInput{
    height: 40px;
    width: 200px;
    display: inline;
    padding: 5px;
}

.selectInput{
    height: 40px;
    width: 150px;
    padding: 5px;
    margin-left: 15px;
}


.addNewCustomerBtn{
    padding: 10px;
    background-color: rgb(81, 81, 245);
    font: bold;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    margin: 15px 25px 0px 0px;
}

.deleteCustomerBtn{
    padding: 10px;
    background-color: rgb(245, 81, 81);
    font: bold;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
}

.filtersDiv select{
    width: 100%;
    margin-bottom: 10px;
}

.filtersDiv{
    padding: 15px;
    border: 2px solid black;
    width: 30%;
}