.container{
    background-color: #965C05;
    border-bottom: 2px solid #F8BD4B;
    display: flex;
    justify-content: space-between;
}

.img{
    background: transparent;
    margin-left: 10px;
}

.owner{
    margin-right: 10px;
}