.contentWrapper{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: rgb(245, 241, 206);
    padding: 15px 15px;
    margin-top: 25px;
    overflow-y: auto;
    height: 68%;
}


.listHeadLines{
    display: flex;
    font-weight: bold;
    margin-bottom: 20px;
}

.listHeadLines span{
    margin: 0px 315px 0px 10px;
}